{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icons/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/site.js' %}"></script>
    <title>Home.ly</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home.ly</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Homes <span class="badge">42</span></a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#profile">My Profile</a></li>
                <li><a href="#about">About Home.ly</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm visible-lg">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container body-container">
    <div class="body-content">
        <div class="jumbotron">
            <h1><span class="lnr lnr-home"></span> Home.ly</h1>
            <p class="lead">Housing First solutions!</p>
            <p><a class="btn btn-lg btn-success smooth" href="#home-search" role="button">Get started today »</a></p>
        </div>
    </div>
    <div id="home-search" class="home-search-container row">
        <div class="col-lg-5 vdivider">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Find a Home</h3>
                </div>
                <div class="panel-body">
                    <form id="home-search-form" method="get" action="/results">
                        <div class="form-group row p1">
                            <label for="accom" class="col-lg-10 col-form-label">
                                What type of housing are you after?
                            </label>
                            <div class="col-lg-12">
                                <!--
                                <input class="form-control" type="text" value="Long-term housing" id="housing-input">
                                -->
                                <select id="accom" name="accom" class="form-control deselected">
                                    <option value="" selected disabled>(Accommodation Type)</option>
                                    <option value="ST">Immediate Accommodation</option>
                                    <option value="LT">Long-Term Housing</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row p1">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-md btn-default pull-right disabled">Next Question »</button>
                            </div>
                        </div>
                        <div class="form-group row hidden p2">
                            <label for="tenant" class="col-lg-10 col-form-label">
                                Which best describes your current situation?
                            </label>
                            <div class="col-lg-12">
                                <!--
                                <input class="form-control" type="search" value="I am currently homeless" id="situation-input">
                                -->
                                <select id="tenant" name="tenant" class="form-control deselected">
                                    <option value="" selected disabled>(Tenant Situation)</option>
                                    <option value="HL">Currently Homeless (Adult)</option>
                                    <option value="YT">Currently Homeless (Youth)</option>
                                    <option value="AR">At Risk of becoming Homeless</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row hidden p2">
                            <div class="col-lg-12">
                                <input type="hidden" id="lat" name="lat" value=""/>
                                <input type="hidden" id="lon" name="lon" value=""/>
                                <button type="button" id="home-form-submit" name="home-form-submit" class="btn btn-md btn-primary pull-right disabled">Start Search</button>
                            </div>
                        </div>
                        <!--
                        <div class="form-group row hidden">
                            <label for="situation-input" class="col-lg-10 col-form-label">
                                Which best describes your current situation?
                            </label>
                            <div class="col-lg-12">
                                <input class="form-control" type="search" value="I am currently homeless" id="situation-input">
                            </div>
                        </div>
                        <div class="form-group row hidden">
                            <label for="location-input" class="col-lg-10 col-form-label">
                                Where would you like to search?
                            </label>
                            <div class="col-lg-12">
                                <input class="form-control" type="search" value="Brisbane, QLD" id="location-input">
                            </div>
                        </div>
                        <div class="form-group row hidden">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-lg btn-primary pull-right">Search</button>
                            </div>
                        </div>
                        -->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Emergency Services</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="bottom" class="navbar-inverse">
    <div class="container">
        <p class="text-muted">
            Home.ly was developed for the <a href="http://www.rivercitylabs.net/event/homelessness-hackathon/">Homelessness Hackathon</a>, 2017, Brisbane.
            <br/>
            Source code: <a href="https://github.com/merrickheley/HomelessHackathon2017">Github</a>
        </p>
    </div>
</footer>
</body>
</html>