{% extends "HackApp/base.html" %}
{% load staticfiles %}

{%  block navbar %}
    <form class="navbar-form navbar-right hidden-sm visible-lg">
        <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
{%  endblock %}

{% block content %}
    <div class="body-content">
        <div class="jumbotron">
            <h1><span class="lnr lnr-home icon-title"></span> Home.ly</h1>
            <p class="lead">Housing First solutions!</p>
        </div>
        <div class="alert alert-info" role="alert">
            <strong>Heads up!</strong> There are <span class="badge">{{ numHouses }}</span> housings available in your area.
            <a class="btn btn-md btn-success smooth getting-started-btn" href="#home-search" role="button">Get started online »</a>
            <a class="btn btn-md btn-primary" href="tel:0712345678" role="button"><span class="lnr lnr-phone-handset"></span> Call Us: 07 1234 5678</a>
        </div>
    </div>
    <div id="home-search" class="home-search-container row">
        <div class="col-lg-5 vdivider">
            <div class="panel panel-primary panel-home-search invisible">
                <div class="panel-heading">
                    <h3 class="panel-title">Find a Home</h3>
                </div>
                <div class="panel-body">
                    <form id="home-search-form" method="get" action="/results">
                        <div class="form-group row p1">
                            <label for="accom" class="col-lg-10 col-form-label">
                                What type of housing are you after?
                            </label>
                            <div class="col-lg-12">
                                <!--
                                <input class="form-control" type="text" value="Long-term housing" id="housing-input">
                                -->
                                <select id="accom" name="accom" class="form-control deselected">
                                    <option value="" selected disabled>(Accommodation Type)</option>
                                    <option value="ST">Immediate Accommodation</option>
                                    <option value="LT">Long-Term Housing</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row p1">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-md btn-default pull-right disabled">Next Question »</button>
                            </div>
                        </div>
                        <div class="form-group row hidden p2">
                            <label for="tenant" class="col-lg-10 col-form-label">
                                Which best describes your current situation?
                            </label>
                            <div class="col-lg-12">
                                <!--
                                <input class="form-control" type="search" value="I am currently homeless" id="situation-input">
                                -->
                                <select id="tenant" name="tenant" class="form-control deselected">
                                    <option value="" selected disabled>(Tenant Situation)</option>
                                    <option value="HL">Currently Homeless (Adult)</option>
                                    <option value="YT">Currently Homeless (Youth)</option>
                                    <option value="AR">At Risk of becoming Homeless</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row hidden p2">
                            <div class="col-lg-12">
                                <input type="hidden" id="lat" name="lat" value=""/>
                                <input type="hidden" id="lon" name="lon" value=""/>
                                <button type="button" id="home-form-submit" name="home-form-submit" class="btn btn-md btn-primary pull-right disabled">Start Search</button>
                            </div>
                        </div>
                        <!--
                        <div class="form-group row hidden">
                            <label for="situation-input" class="col-lg-10 col-form-label">
                                Which best describes your current situation?
                            </label>
                            <div class="col-lg-12">
                                <input class="form-control" type="search" value="I am currently homeless" id="situation-input">
                            </div>
                        </div>
                        <div class="form-group row hidden">
                            <label for="location-input" class="col-lg-10 col-form-label">
                                Where would you like to search?
                            </label>
                            <div class="col-lg-12">
                                <input class="form-control" type="search" value="Brisbane, QLD" id="location-input">
                            </div>
                        </div>
                        <div class="form-group row hidden">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-lg btn-primary pull-right">Search</button>
                            </div>
                        </div>
                        -->
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Emergency Services</h3>
                </div>
                <div class="panel-body">
                    <label for="emergency-services-text">
                        Do you need immediate assistance?
                    </label>
                    <p id="emergency-services-text">
                        If you are injured, at risk of injury, feel threatened or unsafe, please contact the emergency services.
                    </p>
                    <a href="callto:000" class="btn btn-md btn-danger float-right"><span class="lnr lnr-phone-handset"></span> Call 000</a>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}